<div class="content">
    <div class="p1 playlistCard mat-elevation-z3">
        <app-playlistcard [playlistIndex]="0" (changePlaylistEvent)="onClickPlaylistChange($event)"></app-playlistcard>
    </div>
    <div class="p2 playlistCard mat-elevation-z3">
        <app-playlistcard [playlistIndex]="1" (changePlaylistEvent)="onClickPlaylistChange($event)"></app-playlistcard>
    </div>
    <div class="p3 playlistCard mat-elevation-z3">
        <app-playlistcard [playlistIndex]="2" (changePlaylistEvent)="onClickPlaylistChange($event)"></app-playlistcard>
    </div>
    <div class="p4 playlistCard mat-elevation-z3">
        <app-playlistcard [playlistIndex]="3" (changePlaylistEvent)="onClickPlaylistChange($event)"></app-playlistcard>
    </div>
    <div class="p5 playlistCard mat-elevation-z3">
        <app-playlistcard [playlistIndex]="4" (changePlaylistEvent)="onClickPlaylistChange($event)"></app-playlistcard>
    </div>
    <div class="p6 playlistCard mat-elevation-z3">
        <app-playlistcard [playlistIndex]="5" (changePlaylistEvent)="onClickPlaylistChange($event)"></app-playlistcard>
    </div>
    <div class="p7 playlistCard mat-elevation-z3">
        <app-playlistcard [playlistIndex]="6" (changePlaylistEvent)="onClickPlaylistChange($event)"></app-playlistcard>
    </div>
    <div class="p8 playlistCard mat-elevation-z3">
        <app-playlistcard [playlistIndex]="7" (changePlaylistEvent)="onClickPlaylistChange($event)"></app-playlistcard>
    </div>
    <div class="p9 playlistCard mat-elevation-z3">
        <app-playlistcard [playlistIndex]="8" (changePlaylistEvent)="onClickPlaylistChange($event)"></app-playlistcard>
    </div>
</div>