
<div class="content">
    <div class="sounddesc">
        <div class="titledesc">
            {{this.actualTitle}}
        </div>
        <div class="albumdesc">

            
        </div>
    </div>
    {{this.playlistTitle}} {{this.comingTitles.length}}
    
    
    <button mat-raised-button color="primary" class="play" (click)="onPlayPause()" (keyup)="onKeyUp($event)">play/pause</button>
    <button mat-raised-button color="primary" class="next" (click)="onNext()" (keyup)="onKeyUp($event)">next</button>
    <button mat-raised-button color="primary" class="volumeplus" (click)="onVolumeUp()" (keyup)="onKeyUp($event)">+</button>
    {{ this.globalVolume }}
    <button mat-raised-button color="primary" class="voumemius" (click)="onVolumeDown()" (keyup)="onKeyUp($event)">-</button>
    <button mat-raised-button color="primary" class="nextplayList" (click)="onNextPlaylist()" (keyup)="onKeyUp($event)">next List</button>
</div>