
<div class="content">
    <div class="sounddesc">
        <div class="titledesc">
            {{this.actualTitle}}
        </div>
        <div class="albumdesc">
            {{this.actualAlbum}}
        </div>
        <div class="playlist">
            {{this.playlistTitle}} ( {{this.comingTitles.length}} / {{this.comingTitles.length+this.playedTitles.length}} )
        </div>
    </div>
    
    <div class="titlecontrol">
        <button mat-raised-button color="primary" class="play" (click)="onPlayPause()" >
            <mat-icon *ngIf=!this.playing>play_circle_outline</mat-icon>
            <mat-icon *ngIf=this.playing>pause_circle_outline</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="next" (click)="onNext()">next</button>

    </div>
    
    <div class="volumecontrol">
        <button mat-raised-button color="primary" class="voumemius" (click)="onVolumeDown()" >-</button>
        {{ this.globalVolume*100 }}
        <button mat-raised-button color="primary" class="volumeplus" (click)="onVolumeUp()" >+</button>
    </div>
    
</div>